<div class="heroes-list">
  @if ($heroes | async; as heroes) {
    <ul class="heroes-list__list">
      @for (hero of heroes.results; track hero.id) {
        <app-hero-card [hero]="hero"></app-hero-card>
      }
    </ul>

    <div class="heroes-list__pagination">
      @if (heroes.previous) {
        <button mat-button class="primary" (click)="prevHeroes()">Prev</button>
      }
      {{ this.page() }}
      @if (heroes.next) {
        <button mat-button class="primary" (click)="nextHeroes()"> Next</button>
      }
    </div>
  } @else {
    <app-preloader></app-preloader>
  }
</div>
