<div class="heroes-list">

  @if ($heroes | async; as heroes) {
    <div class="heroes-list__pagination">
      @if (heroes.previous) {
        <button class="button" (click)="prevHeroes()">Prev</button>
      }
      <span class="page">{{ heroes.page }}</span>
      @if (heroes.next) {
        <button class="button" (click)="nextHeroes()"> Next</button>
      }
    </div>
    <ul class="heroes-list__list">
      @for (hero of heroes.results; track hero.id) {
        <app-hero-card [hero]="hero"></app-hero-card>
      }
    </ul>
  }
</div>
